<aside>
  <header>
    <img src="assets/svg/logo.svg" alt="Logo" width="200px">
  </header>

  <div class="info-user">
    <span class="name">Alex Camargo</span>
    <span class="email">{{'alexxcamargo1000@gmail.com'}}</span>
  </div>

  <div class="routes">
    <a routerLink="/cadastro">Cadastro</a>
    <a routerLink="/listagem" class="border-top">Listagem</a>
  </div>

  <footer>
    
    <button (click)="onLogout()">
      <lucide-icon class="icon" color="var(--lavander-100)" name="log-out" [size]="18"></lucide-icon>
      Sair
    </button>
  </footer>
</aside>