
<div class="login-container">

  <div class="hero">
      <img src="assets/svg/logo-menu.svg" alt="Logo">
      <span>Todos direitos reservados &#64; 2024</span>
  </div>

  <div class="form-container">
    <form [formGroup]="loginForm">
      <div class="form-title">
        <h2>Faça Login</h2>
        <p>Sistema de Gerenciamento de Biblioteca</p>
      </div>
      <fieldset>
        <label for="email">Email:</label>
        <input type="text" id="username">
      </fieldset>
    
      <fieldset>
        <label for="password">Senha:</label>
        <input type="password" id="password">
      </fieldset>
      <button type="submit">Entrar</button>
  </form>

    <a href="">Cadastrar</a>
  </div>

</div>