<div class="login-container">

  <div class="hero">
    <img src="assets/svg/logo-menu.svg" alt="Logo">
    <span>Todos direitos reservados &#64; 2024</span>
  </div>

  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" #loginFormDirective="ngForm">
      <div class="form-title">
        <h2>Faça Login</h2>
        <p>Sistema de Gerenciamento de Biblioteca</p>
      </div>
      <fieldset>
        <label for="email">Email:</label>
        <input 
          type="text" 
          id="email" 
          formControlName="email" 
          [class.error]="loginForm.get('email')?.invalid && loginFormDirective.submitted" (input)="clearInvalidPassword()"
        >
        @if (loginForm.get('email')?.errors && loginFormDirective.submitted) {
          <label *ngIf="" class="error-message">
            Informe um e-mail válido
          </label>
        }
        
      </fieldset>

      <fieldset>
        <label for="password">Senha:</label>
        <input 
          type="password" 
          id="password" 
          formControlName="password"
          [class.error]="loginForm.get('password')?.errors && loginFormDirective.submitted"
          (input)="clearInvalidPassword()"
          (error)="loginForm.get('password')?.errors && loginFormDirective.submitted" class="error"
        >

        @if (loginForm.get('password')?.errors && loginFormDirective.submitted) {
          <span class="error-message">
            Senha inválida
          </span>
        }
        
      </fieldset>
      <button type="submit">Entrar</button>
    </form>

    <a routerLink="/">Cadastrar</a>
  </div>

</div>