
:root {
  --silver-50: #f7f7f7;
  --silver-100: #ededed;
  --silver-200: #dfdfdf;
  --silver-300: #c8c8c8;
  --silver-400: #b8b8b8;
  --silver-500: #999999;
  --silver-600: #888888;
  --silver-700: #7b7b7b;
  --silver-800: #676767;
  --silver-900: #545454;
  --silver-950: #363636;

  --lavander-50: #faf5ff;
  --lavander-100: #f2e9fe;
  --lavander-200: #e8d6fe;
  --lavander-300: #d6b6fc;
  --lavander-400: #bd88f9;
  --lavander-500: #a359f3;
  --lavander-600: #8e38e5;
  --lavander-700: #7926ca;
  --lavander-800: #6724a5;
  --lavander-900: #551f84;
  --lavander-950: #380962;



}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--silver-950);
}
