
:root {
  --silver-50:  #f7f7f7;
  --silver-100: #ededed;
  --silver-200: #dfdfdf;
  --silver-300: #c8c8c8;
  --silver-400: #b8b8b8;
  --silver-500: #999999;
  --silver-600: #888888;
  --silver-700: #7b7b7b;
  --silver-800: #676767;
  --silver-900: #545454;
  --silver-950: #363636;

  --lavander-50:  #faf5ff;
  --lavander-100: #f2e9fe;
  --lavander-200: #e8d6fe;
  --lavander-300: #d6b6fc;
  --lavander-400: #bd88f9;
  --lavander-500: #a359f3;
  --lavander-600: #8e38e5;
  --lavander-700: #7926ca;
  --lavander-800: #6724a5;
  --lavander-900: #551f84;
  --lavander-950: #380962;

  --cardinal-50:  #fef3f2;
  --cardinal-100: #fde7e6;
  --cardinal-200: #fad2d1;
  --cardinal-300: #f6acab;
  --cardinal-400: #f17b7b;
  --cardinal-500: #e74c51;
  --cardinal-600: #d32b38;
  --cardinal-700: #c52233;
  --cardinal-800: #951c2d;
  --cardinal-900: #7f1c2c;
  --cardinal-950: #470a12;

  --green-50:  #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--silver-950);
}


html, body {
  width: 100%;
  height: 100%;
}

body *:focus {
  outline: none;
  box-shadow: inset 0 0 0 calc(2px + 0px) var(--lavander-500);

}


// -------------TOAST---------------

.toast-error {
  background-color: var(--cardinal-300) !important;
  width: 400px !important;
  right: 0px !important;
  svg {
    fill:  var(--cardinal-700) !important;
  }

  div {
    color: var(--cardinal-950) !important;
  }
}

.toast-success {
  background-color: var(--green-300) !important;
  svg {
    fill:  var(--green-700) !important;
  }

  div {
    color: var(--green-950) !important;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
